[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
jupyter = "*"
notebook = "==7.1.2"
elasticsearch = "*"
direnv = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "3.10"
